* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  border: 4px solid violet;
  width: 100%;
  height: 100%;
  /* overflow: hidden; */
}

/* ********* */
/* KONTENERY */
/* ********* */

#mainProgram {
  width:100%;
  height:100%;
}

#pianoContainerDiv {
  height:25%;
  margin: 0 0 auto;
  /* background:orange; */
  overflow: hidden;
}

#mainContainer {
  position:relative;
  display:flex;
  justify-content: center;
  align-items: center;
  height:40%;
  /* background:cyan; */
  overflow: hidden;
  /* column-gap */
}

#statsContainer {
  display:flex;
  justify-content: space-around;
  height:35%;
  /* background-color: green; */
  /* overflow: hidden; */
}

#numStatsDiv {
  width:20%;
  height:100%;
  align-content: center;
  margin:1rem;
}

#chartStatsDiv {
  width:80%;
  height: 100%;
}

@media (min-aspect-ratio : 1.3) {
  #pianoContainerDiv {
  width:60%;
  height:40%;
  }
  #mainContainer {
    width:60%;
    height:60%;
  }
  #statsContainer {
    position:absolute;
    flex-direction: column;
    top:0;
    left:60%;
    width:40%;
    height:100%;
  }

  #numStatsDiv {
    position:relative;
    top 5%;left:5%;
    width:100%;
    height:30%;
  }

  #chartStatsDiv {
    width:100%;
    height:70%;
  }
}

/* ************ */
/* PODKONTENERY */
/* ************ */

#controlsDiv {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  /* column-gap */
}

/* ********************************* */
/* KONTENER Z PRZYCISKAMI INTERWAŁÓw */
/* ********************************* */

#interval-buttons-container {
  position: relative;
  /* border: 2px dashed pink; */
  /* background: cyan; */
}

.interval-button {
  display: inline-block;
  border-radius: 50%;
  border-width: 0.5px;
  background-color: #fff4cd;
  position: absolute;
  user-select: none;
  /* height */
  /* width */
  /* font-size */
}

.interval-button:hover {
  background-color: blue;
  color: #fff4cd;
}

.interval-button:disabled {
  background-color: white;
  color: #777777;
  border: 1px dashed lightgray;
  cursor: not-allowed;
}

/* ******************** */
/* STATYSTYKI I WYKRESY */
/* ******************** */

#stat-chart-container {
  height: 100%;
  /* width: 100%; */
  overflow: hidden;
  margin: 5%; /* Add spacing above the chart */
  padding: 1rem 0px 0px 1.5rem;
  /* border: 2px solid blue; */
  display: flex;
  flex-direction: COLUMN;
  /* row-gap: 10px; */
  justify-content: space-evenly; /* Distribute groups evenly */
  align-items: flex-end; /* Align groups at the bottom */
  position: relative;
  box-sizing: border-box;
}

#stat-grid-container {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  /* column-gap: 10px; */
  /* border: 3px dashed orange; */
  box-sizing: border-box;
}

#stat-label-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  /* column-gap: 10px; */
  /* border: 3px dashed cyan; */
  box-sizing: border-box;
}

.stat-grid-line {
  position: absolute;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #ccc;
}

.stat-grid-label {
  position: absolute;
  left: -1.5rem;
  font-size: 1rem;
  color: #666;
  transform: translateY(+50%);
}

.stat-interval-group {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-items: left;
  /* border:1px solid red; */
}

.stat-interval-area {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  /* border: 2px dashed green; */
}

.stat-interval-label {
  text-align: center;
  overflow: hidden;
  color: black;
  width: 100%;
  font-size: 13px;
  /* border: 2px solid pink */
}

.stat-bar {
  width: 5px;
}

.stat-good-bar {
  background-color: limegreen;
}

.stat-bad1-bar {
  background-color: orange;
}

.stat-bad2-bar {
  background-color: red;
}

span {
  display:block;
  /* font-size */
}

/* *************** */
/* GŁÓWNY PRZYCISK */
/* *************** */

#mainButton {
  position: relative;
  cursor: pointer;
  /* height */
  /* width */
}

#mainButton-circle {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #007bff;
  border-radius: 50%;
  border: 0px solid red;
  transition: background-color 1s;
}

#mainButton-triangle {
  position: absolute;
  top: 50%;
  left: 55%;
  transform: translate(-50%, -50%);
  width: 0;
  height: 0;
  border-top: solid transparent;
  border-bottom: solid transparent;
  border-left: solid white;
  /* border-top-width: 40px; */
  /* border-bottom-width: 40px; */
  /* border-left-width: 70px; */
}

#mainButton-square {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  background-color: white;
  display: none;
  /* width */
  /* height */
}

#btn_Repeat:hover,
#btn_Skip:hover {
  stroke: blue;
}

.btn-sector {
  /* fill: none; */
  stroke-linecap: round;
}

.btn-sector-text {
  font-family: Arial, Helvetica, sans-serif;
  text-anchor: middle;
  dominant-baseline: middle;
  fill: black;
  font-weight: 700;
  user-select: none; /* Standard */
  -webkit-user-select: none; /* Chrome, Safari, and Edge */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none;
  /* font-size */
}

.interval-checkbox {
  cursor:pointer;
  margin: auto;
  display: inline-block;
  position: absolute;
  /* width */
  /* height */
}


/* ****************** */
/* ELEMENTY STERUJĄCE */
/* ****************** */

#elementMaxError
{
  display: flex;
  flex-direction: column;
  align-items: center;
  position:absolute;
  top:0;
  right:0;
  /* border: 3px dashed blue; */
}

#elementSoundVolume {
  display:flex;
  flex-direction:column;
  position:absolute;
  align-items: center;
  bottom:0;
  right:0;
}

#maxErrorSelect, #soundVolumeSelect {
  cursor:pointer;
  /* font-size */
}


/* kontener dla kontenerów kierunku, długości i przerw */
#elementControlContainer {
  display: flex;
  flex-direction: row;
  /* gap */
}

/* podkontener dla wyborów */
.control-subContainer {
  display: flex;
  flex-direction: column;
  /* padding: 10px; */
  /* gap */
}

/* opis tam gdzie trzeba */
.control-subContainer-label {
  margin: 0 0 auto;
  user-select: none;
  /* display: block; */
  /* font-size */
}

/* Checkbox Styles dla kontrolek */
.control-checkbox {
  cursor: pointer;
  flex-shrink: 0;
  /* width */
  /* height */
}

/* przycisk sterowania (typ, długość, przerwa) */
.control-button {
  display: flex;
  border-radius: 25%;
  background: greenyellow;
  flex-direction: row;
  cursor: pointer;
  align-items: center;
}

/* opis przycisku */
.control-button-label {
  user-select:none;
  cursor:pointer;
  /* margin-left */
  /* font-size */
}

/* ikonki dla nutek */
.control-button-note-icon {
  /* margin-left */
  /* height */
}

/* Radio Buttons */
.radio-button {
  transform: scale(1.5);
  cursor: pointer;
}

/* Radio Button Container */
.radio-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  border-radius: 25%;
  background: greenyellow;
  flex-direction: row;
  /* width */
  /* height */
  /* padding */
}

#svg-icon-speaker {
  width: 3rem;
  height: 3rem;
}


/* PRZYCISK RESETOWANIA STATYSTYK */
#reset-btn {
  /* font-size */
  background-color: red;
  color: white;
  padding: 10px;
  margin: 10px;
  border-radius: 10%;
}

#LandscapeView {
  width: 100%;
  height: 100%;
  max-width: 100%;
  table-layout:auto
  overflow: hidden;
  border: 4px dashed black;
}

#portraitView > tbody > tr:nth-child(1) {
  height: 24vh;
  /* background-color: greenyellow; */
  padding: 0;
}

#portraitView > tbody > tr:nth-child(2) {
  height: 38vh;
  /* background-color: yellow; */
  padding: 0;
}
#portraitView > tbody > tr:nth-child(3) {
  height: 38vh;
  /* background-color: orange; */
  padding: 0;
}

#landscapeView > tbody > tr:nth-child(1) > td:nth-child(1) {
  /* background-color: pink; */
  height: 33.33vh;
  width: 66%;
}
#landscapeView > tbody > tr:nth-child(1) > td:nth-child(2) {
  /* background-color: violet; */
}
#landscapeView > tbody > tr:nth-child(2) {
  /* background-color: green; */
  height: 66.67vh;
}