* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: black;
}

html {
  height: 100%;
  min-height: 100%;
}

body {
  width: 100%;
  height: 100%;
  height: 100dvh;
}

/* ********* */
/* KONTENERY */
/* ********* */

#mainProgram {
  width: 100%;
  height: 100%;
}

#pianoContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  height: 25%;
  /* background-color: red; */
}

#pianoDiv {
  margin: 0 0;
}

#mainDiv {
  /* background: green; */
}

#infoDiv {
  padding: 5px;
  margin: 0 0;
  flex-wrap: wrap;
  /* font-size */
  border-radius: 5px;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#mainContainer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40%;
  overflow: hidden;
  /* background-color: yellow; */
  /* column-gap */
}

#statsContainer {
  display: flex;
  justify-content: space-around;
  height: 35%;
  /* background-color: green; */
  /* overflow: hidden; */
}

#numStatsDiv {
  display: flex;
  justify-content: center;
  /* align-items: flex-start; */
  position: relative;
  width: 30%;
  height: 100%;
  align-content: center;
  padding: 1rem;
}

#numStatTable {
  /* padding: 1rem; */
  /* background: mistyrose;*/
  border: 5px solid red;
  border-radius: 30px;
  /* border-collapse: collapse; */
  /* font-size */
}

#chartStatsDiv {
  width: 70%;
  height: 90%;
  display: flex;
  justify-content: center;
}

@media (max-aspect-ratio: 0.71) {
  #mainDiv {
    /* background-color: orange; */
  }
  #pianoDiv {
    flex-basis: 100%;
    order: 1;
    display: flex;
    justify-content: center;
  }
  #soundDiv {
    order: 2;
  }
  #infoDiv {
    flex-direction: row;
    align-self: flex-start;
    order: 3;
  }
}

@media (min-aspect-ratio: 1.5) and (orientation: landscape) {
  #mainDiv {
    /* background-color: red; */
  }
  #pianoContainer {
    width: 60%;
    height: 40%;
  }

  #mainContainer {
    width: 60%;
    height: 60%;
  }
  #statsContainer {
    position: absolute;
    flex-direction: column;
    top: 0;
    left: 60%;
    width: 40%;
    height: 100%;
  }

  #numStatsDiv {
    position: relative;
    align-items: center;
    width: 100%;
    height: 30%;
  }

  #chartStatsDiv {
    width: 100%;
    height: 70%;
    left: 10px;
  }

  #infoDiv {
    flex-direction: row;
  }
}

@media (min-aspect-ratio: 1.8) and (orientation: landscape) {
  #mainDiv {
    /* background: pink; */
  }
  #infoDiv {
    flex-direction: column;
  }
}

/* ************ */
/* PODKONTENERY */
/* ************ */

#controlsDiv {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  /* gap */
}

/* ********************************* */
/* KONTENER Z PRZYCISKAMI INTERWAŁÓW */
/* ********************************* */

#interval-buttons-container {
  position: relative;
}

.interval-button {
  display: inline-block;
  border-radius: 50%;
  border-width: 0.5px;
  background-color: lemonchiffon;
  color: black;
  position: absolute;
  user-select: none;
  /* height */
  /* width */
  /* font-size */
}

/* BUG w IOS! */
a:link {
  color: blue;
}

.interval-button:disabled {
  background-color: white;
  color: #777777;
  border: 1px dashed lightgray;
  cursor: not-allowed;
}

/* ******************** */
/* STATYSTYKI I WYKRESY */
/* ******************** */

#stat-chart-container {
  /* overflow: hidden; */
  margin: 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly; /* Distribute groups evenly */
  align-items: flex-end; /* Align groups at the bottom */
  position: relative;
  box-sizing: border-box;
}

#stat-grid-container {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  /* column-gap: 10px; */
  box-sizing: border-box;
}

#stat-label-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  font-size: 13px;
  /* column-gap: 10px; */
  box-sizing: border-box;
}

.stat-grid-line {
  position: absolute;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #ccc;
}

.stat-grid-label {
  position: absolute;
  left: -1.5rem;
  font-size: 1rem;
  color: black;
  transform: translateY(+50%);
}

.stat-interval-group {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-items: left;
}

.stat-interval-area {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.stat-interval-label {
  text-align: center;
  overflow: hidden;
  color: black;
  width: 100%;
  font-size: 13px;
}

.stat-bar {
  width: 5px;
}

.stat-good-bar {
  background-color: limegreen;
}

.stat-bad1-bar {
  background-color: orange;
}

.stat-bad2-bar {
  background-color: red;
}

span {
  display: block;
  /* font-size */
}

/* *************** */
/* GŁÓWNY PRZYCISK */
/* *************** */

#mainButton {
  position: relative;
  cursor: pointer;
  /* height */
  /* width */
}

#mainButton-circle {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #007bff;
  border-radius: 50%;
  border: 0px solid red;
  transition: background-color 1s;
}

#mainButton-triangle {
  position: absolute;
  top: 50%;
  left: 55%;
  transform: translate(-50%, -50%);
  width: 0;
  height: 0;
  border-top: solid transparent;
  border-bottom: solid transparent;
  border-left: solid white;
  /* border-top-width: 40px; */
  /* border-bottom-width: 40px; */
  /* border-left-width: 70px; */
}

#mainButton-square {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  background-color: white;
  display: none;
  /* width */
  /* height */
}

#btn_Repeat:hover,
#btn_Skip:hover {
  stroke: blue;
}

.btn-sector {
  /* fill: none; */
  stroke-linecap: round;
}

.btn-sector-text {
  font-family: Arial, Helvetica, sans-serif;
  text-anchor: middle;
  dominant-baseline: middle;
  fill: black;
  font-weight: 700;
  user-select: none; /* Standard */
  -webkit-user-select: none; /* Chrome, Safari, and Edge */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none;
  /* font-size */
}

.interval-checkbox {
  cursor: pointer;
  margin: auto;
  display: inline-block;
  position: absolute;
  /* width */
  /* height */
}

/* ****************** */
/* ELEMENTY STERUJĄCE */
/* ****************** */

#elementMaxError {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* position:absolute; */
  top: 0;
  right: 0;
}

#elementSoundVolume {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#maxErrorSelect,
#soundVolumeSelect {
  cursor: pointer;
  /* font-size */
}

/* kontener dla kontenerów kierunku, długości i przerw */
#elementControlContainer {
  display: flex;
  flex-direction: row;
  /* gap */
}

/* podkontener dla wyborów */
.control-subContainer {
  display: flex;
  flex-direction: column;
  /* padding: 10px; */
  /* gap */
}

/* opis tam gdzie trzeba */
.control-subContainer-label {
  margin: 0 0 auto;
  user-select: none;
  /* display: block; */
  /* font-size */
}

/* Checkbox Styles dla kontrolek */
.control-checkbox {
  cursor: pointer;
  flex-shrink: 0;
  /* width */
  /* height */
}

/* przycisk sterowania (typ, długość, przerwa) */
.control-button {
  display: flex;
  border-radius: 25%;
  background: greenyellow;
  flex-direction: row;
  cursor: pointer;
  align-items: center;
}

/* opis przycisku */
/* .control-button-label { */
/* user-select: none; */
/* cursor: pointer; */
/* margin-left */
/* font-size */
/* } */

.control-button-label svg {
  background: greenyellow;
  user-select: none;
  /* width */
  /* height */
}

/* ikonki dla nutek */
.control-button-note-icon {
  user-select: none;
  cursor: pointer;
  /* margin-left */
  /* height */
}
.control-button-pause-icon {
  user-select: none;
  cursor: pointer;
  /* margin-left */
  /* height */
}

/* Radio Buttons */
.radio-button {
  transform: scale(1.5);
  cursor: pointer;
}

/* Radio Button Container */
.radio-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  border-radius: 25%;
  background: greenyellow;
  flex-direction: row;
  /* width */
  /* height */
  /* padding */
}

#svg-icon-speaker {
  /* width; */
  /* height */
}

/* PRZYCISK RESETOWANIA STATYSTYK */
#reset-btn {
  /* font-size */
  background-color: red;
  cursor: pointer;
  color: white;
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 10px;
  border-radius: 100%;
  /* width */
  /* height */
}
